body {
    width: 95%;
    margin: 15px auto;
}

nav ul li{
    display: block;
    float: left;
    background-color: blue;
    text-align: center;
    color: white;
    padding: 10px 20px;
    margin: 1px;
    text-decoration: none;
}

article {
    width: 75%;
    column-count: 3;
    column-rule: 4px dotted blue;
    column-gap: 2em;
}

article h1 {
    column-span: all;
    border-top: 2px solid blue;
}

article h2 {
    color: blue;
}

article p::first-letter {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: black;
}

article img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

aside {
    width: 20%;
    position: fixed;
}

footer {
    clear: both;
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
}

aside ul {
    list-style-type: upper-roman;
}

aside ul li {
    list-style-type: square;
}
