html {
    background-image: linear-gradient(white, #406930);
}

header {
    padding: 20px 0;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    color: black; 
    margin: 2em;
    padding: 0;
}

.title {
    color: rgb(211, 123, 23);
    text-shadow: 2px 2px 2px rgb(0, 128, 75);
    margin-top: 10px;
    text-align: center;
    font-size: 32px; 
}

article {
    margin-bottom: 40px;
}


h2 {
    font-size: 24px;
    color: black; 
}

.image {
    width: 40%;
    height: auto;
    display: block;
}

p {
    font-size: 16px;
    line-height: 1.6;
}