html {
    background-color: black;
}

header {
    font-size: 200%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightgray;
    text-align: center;
}

header img {
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

h1{
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightgray;
    text-decoration: underline;
}

h2 {
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightgray;
    text-decoration: underline;
}

h3 {
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightgray;
    text-decoration: underline;
}

h4 {
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightgray;
    text-decoration: underline;
}

h5 {
    font-size: 110%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightgray;
    text-decoration: underline;
}

p {
    font-size: 85%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightgray;
}