html {
    background-image: linear-gradient(white, rgb(0, 128, 75));
}

body {
    font-family: Arial, sans-serif;
    color: white; 
    margin: 0;
    padding: 0;
    
}

header {
    padding: 20px 0;
    text-align: center;
}

.container {
    text-align: center;
}

.image {
    width: 100%;
    height: auto;
    display: block;
}

.title {
    color: rgb(211, 123, 23);
    margin-top: 10px;
    text-align: center;
    font-size: 32px; 
}

main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
}

article {
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    color: darkseagreen; 
}

p {
    font-size: 16px;
    line-height: 1.6;
}

.model-viewer-container {
    width: 100%;
    text-align: center;
    padding: 20px 0; 
}

.model-viewer-padding {
    height: 300px;
}