* {
    font-family: Arial, Helvetica, sans-serif
}

table.first {
    border-collapse: separate;
    border: 2px solid black;
}

table.first th, table.first td {
    border: 2px solid blue;
}

table.first tr:nth-child(odd) {
    background-color: lightblue;
}

table.second {    
    border-collapse: collapse; 
    border: 2px solid purple;   
    caption-side: bottom;
}
table.second th {
    background-color: salmon;
}
table.second th, table.second td {
    padding: 0.7em;  
    vertical-align: middle;
    border: 2px solid purple;
}
table.second thead tr:first-child{     
    border-bottom: 2px solid purple;
}

table.third {    
    border-collapse: collapse; 
}
table.third thead {
    background-color: lightgreen;
    padding: 0.7em;
    border-top: 2px solid orangered;
    border-bottom: 2px solid orangered;
}

table.third body {
    border-bottom: 2px solid orangered;
}
